<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hackathon2K17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70ED0C141E6111A5006E9FFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70ED0C281E6111A5006E9FFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70ED0C331E6111A5006E9FFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
